  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid white;
    border-radius: 8px;
    width: 120px;
    font-size: 18px;
    padding: 8px 24px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    max-width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  ul {
    list-style-type: none;
    display: flex;
    /*padding: 16px; */
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
  }
  
  .header {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .header a {
    font-size: 18px;
    columns: #E5E7EB;
  }

  .header-top {
    height: 72px;
    display: flex;
    font-size: 24px;
    flex-direction: row;
  }

  .logo {
    color: #F9FAF8;
    display: flex;
    font-size: 42px;
    /* font-weight: bold; */
    font-family: "Montaga, serif";
    align-items: center;
  }

  .hnav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .header-botton {
    height: 463px;
    display: flex;
    /*flex: 0 0 auto; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container {
    min-height: 250px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }

  .container-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
  }

  .container-right {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
  }

  .header-bold {
    font-size: 48px;
    font-weight: extra-bold;
  }

  .header-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .first-row {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .first-info {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .first-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
  }

  .first-card {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 20px;
  }

  .first-card-top {
    display: flex;
    justify-content: center;
    height: 175px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .first-card-top img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 175px;
    height: 175;
  }

  .first-card-top {
    max-width: 175px;
  }

  .first-card-bottom {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .second-row {
    display: flex;
    /* width: 100%; */
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #1F2937;
  }
  .second-container-top {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
  }

  .second-container-bottom {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
  }

  .third-row {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .cta {
    width: 70%;
    display: flex;
    color: white;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 50px;
  }
  
  .cta-left {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
  }

  .cta-left-top {
    font-size: 26px;
    font-weight: bold;
  }

  .cta-left-bottom {
    font-size: 18px;
  }

  .cta-right {
    margin-left: auto;
    margin-right: 75px;
  }

  /*.container {
    flex-wrap: wrap;
    padding: 32px;
    display: flex;
  } */
  
  .footer {
    height: 72px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }